section {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    gap: 10px;
}

div {
    border: 3px solid;
    height: 100%;
    width: 100%;
}

.img1 {
    grid-column: 1;
    grid-row: 1;
    background-color: aqua;
    grid-row-start: 1;
    grid-row-end: 4;
}

.img2 {
    grid-column: 2;
    grid-row: 1;
    background-color: aqua;
    grid-column-start: 2;
    grid-column-end: 4;
}

.img3 {
    grid-column: 4;
    grid-row: 1;
}

.img4 {
    grid-column: 2;
    grid-row: 2;
    background-color: aqua;
}

.img5 {
    grid-column: 3;
    grid-row: 2;
}

.img6 {
    grid-column: 4;
    grid-row: 2;
    background-color: aqua;
    grid-row-start: 2;
    grid-row-end: 4;
}

.img8 {
    background-color: aqua;
}