.Task_1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: blue;
    color: yellow;
}

.Task_2 {
    font-style: italic;
    background-color: blue;
    color: yellow;
}

.Task_3 {
    background-color: aqua;
    font-weight: bold;
    font-size: x-large;
}

.Task_4 {
    color: yellow;
    background-color: blue;
    font-size: 20px;
    font-weight: bold;
}

.Task_5 {
    color: yellow;
    background-color: blue;
    font-variant: small-caps;
}

.Task_6 {
    color: yellow;
    background-color: blue;
    font: italic bold 18px size Arial, Helvetica, sans-serif;
}
div {
    border: 4px solid;
    padding-left: 50px;
    background-color: blue;
}
.Task_7 {
    text-align: center;
    color: yellow;
}

.Task_8 {
    text-decoration: underline;
    color: blue;
    text-decoration-color: red;
}

a {
    text-decoration: none;
}

.Task_9 {
    text-transform: uppercase;
    color: yellow;
    background-color: blue;
}

.Task_10 {
    color: yellow;
    background-color: blue;
    text-indent: 50px;
}

.Task_11 {
    color: yellow;
    background-color: blue;
    letter-spacing: 3px;
}

.Task_12 {
    color: yellow;
    background-color: blue;
    word-spacing: 10px;
}

.Task_13 {
    color: yellow;
    background-color: blue;
    line-height: 2;
}

.Task_14 {
    color: yellow;
    background-color: blue;
    font: italic bold 24px size Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    text-align: center;
}

.Task_15_1 {
    color: yellow;
    background-color: blue;
    text-transform: uppercase;
    text-align: center;
    font: bold 30px size;
}

.Task_15_2 {
    color: yellow;
    background-color: blue;
    text-indent: 100px;
    text-align: justify;
    line-height: 1.8;
}