h2[title] {
    color: blue;
    background-color: aqua;
}

h2[class="elements"] {
    background: lightyellow;
}

a[href^="https://www.wikipedia.org/"] {
    color: green;
}

a[href$="https://www.google.com/"] {
    color: blue;
}

h2[class*="text"] {
    color: black;
    background-color: yellow;
}

.Hover:hover {
    color: purple;
}

.para1 {
    font-size: x-large;
    background-color: cornflowerblue;
}

.para2 {
    font-size: x-large;
    background-color: yellow;
}

div p:first-child {
    font-weight: bold;
}

input:checked {
    accent-color: green;
}

h2[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.para1::first-letter {
    color: red;
    font-size: 30px;
}

.Shree::before {
    content: "✨ ";
    color: gold;
}

.Shree {
    color: deeppink;
}

.Highlight::selection {
    color: black;
    background-color: yellow;
}

.Highlight {
    color: blue;
}

ul span:last-child {
    font-weight: bold;
}

.gray:not(.special) {
    color: gray;
}

.blue_border:focus {
    border: 2px solid blue;
    outline: none;
}

a::after {
    content: " (" attr(title) ")";
}

/* .link {
    color: blue;
    background-color: gold;
} */