div {
    background-image: url(../image/img.jpg);
    background-repeat: no-repeat;
    /* background-position: center;
    background-size: cover; */
    background-origin: padding-box;
    background-clip: padding-box;
}